html {
    font-size: 62.5%;
    font-family: 'Roboto Slab', serif;
}

html, body {
    height: 100%;
}

body {
    font-size: 1.5rem;
}

header {
    background-color: #302E2C;
    color: #FFFFFF;
    padding-top: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 9rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header h1 a {
    text-decoration: none;
    font-size: 3rem;
    border-bottom: 3px solid #FFFFFF;
    margin-left: 2rem;
    color: inherit;
}

header nav {
    position: absolute;
    bottom: 0;
    font-size: 1.5rem;
}

header nav ul li {
    float: left;
    padding: 10px 20px;
    cursor: pointer;
}

header nav ul li.active {
    background-color: #FFFFFF;
    color: #302E2C;
}

header nav ul li a{
    color: inherit;
    text-decoration: none;
}

.body_container{
    line-height: 2.4rem;
}


.pages{
    margin-top: 9rem;
    padding: 0 4rem 0 4rem;
    min-height: 500px;
}

.pages > * {
    font-size: 1.5rem;
}

.front section {
    width: 60%;
    padding: 10px;
    margin: 10% auto;
    font-family: 'Patrick Hand', cursive;
    color: #000000;
    line-height: 2.4rem;
    font-size: 2rem;
}

.front aside {
    background: url("../images/photo.jpg") center/cover no-repeat;
    border: 1px solid #302E2C;
    border-radius: 50px;
    float: left;
    height: 100px;
    margin: 12% 0 0 8.5rem;
    width: 100px;
}

.filler {
    height: 9rem;
}

#about {
    overflow: auto;
    text-align: center;
}

#skills {
    overflow: auto;
}

#tech-list {
    width: 30%;
    display: inline-block;
}

#skill-section {
    width: 50%;
    display: inline-block;
    float: right;
}

#skill-section>h3 {
    font-size: 2rem;
    font-weight: bold;
}

#skill-list {
    list-style: inside square;
}

#skills ul span {
    font-weight: bold;
}

#projects tr {
    border-bottom: 1px dotted #CCCCCC;
}

#projects th {
    font-weight: bold;
}

#projects tbody tr:last-child {
    border: 0;
}
    
#projects tr td, #projects tr th {
    padding: 5px;
    border-right: 1px dotted #CCCCCC;
}

#projects tr td:last-child, #projects tr th:last-child {
    border: 0;
}

#contact {
    margin-bottom: 45px;
    min-height: 600px;
}

#contact ul {
    margin: 10rem auto 0;
    width: 30%;
}

footer {
    background-color: #302E2C;
    color: #FFFFFF;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    padding-top: 15px;
}